/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
@import "tailwindcss";

/* font family */

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dm-serif {
  font-family: "DM Serif Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dm-serif-italic {
  font-family: "DM Serif Display", serif;
  font-style: italic;
}

/* template colors */
.bg-c {
  background-color: #FAF8F5;
}

.heading-c {
  color: #1F1B16;
}

.para-c {
  color: #6F665C;
}

.btn-bg {
  background-color: #E07A5F;
}

.btn-c {
  color: #E07A5F;
}


/* | Purpose    | Class                             |
| ---------- | --------------------------------- |
| Background | `bg-[#FAF8F5]`                    |
| Heading    | `text-[#1F1B16]`                  |
| Text       | `text-[#6F665C]`                  |
| Accent     | `text-[#E07A5F]`                  |
| Button     | `bg-[#E07A5F] hover:bg-[#C9654C]` | */
